body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  .idol-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .idol-card {
    flex: 0 0 48%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .idol-image {
    width: 400px;
    height: 500px;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  
  .idol-name {
    margin-top: 8px;
    color: #555;
  }
  

  /* Tablet View */
@media screen and (max-width: 772px) {
  .idol-card {
    flex-basis: 45%;
  }

  .idol-image {
    max-height: 30vh;
  }
}

/* Large Screen View */
@media screen and (min-width: 773px) and (max-width: 998px) {
  .idol-card {
    flex-basis: 45%;
  }

  .idol-image {
    max-height: 50vh;
  }
}

/* Extra Large Screen View */
@media screen and (min-width: 999px) {
  .idol-card {
    flex-basis: 30%;
  }

  .idol-image {
    max-height: 60vh;
  }
}
  